$primary-color:#579c87;
$font-color:rgba(253, 203, 70, 1);
$color-grey: #414141;
$color-light-grey:#dddddd;
$color-light-red: #fcdfdb;
$color-magenta: #fff5fe;
$color-azure: #eef0f0;
$color-light-green: #fdfffd;
$color-green: #42973c;
$color-green-apple: #bfff7e;
$color-rustic-red:#3c1218;
$color-orange:#c67412;
$color-light-violet:#a56799;
$color-titre-black:#000000;
$color-violet:#6e4ccc;
$color-blue: #0431df;
$color-light-blue: #47a5fe;




